@media only screen and (max-width: 600px) {
  #mainendbox{position: fixed;
    width: 360px;
height: 1000px;
top: 2840px;
gap: 0px;
opacity: 0px;
background-color: #F7FDFF;
  }
    #endbtn{position: absolute;
      width: 104px;
height: 40px;
top: 99px;
left: 24px;
gap: 0px;
border-radius: 8px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: left;


    }
    #endtext{width: 283px;
      height: 27px;
      top: 48px;
      left: 24px;
      gap: 0px;
      opacity: 0px;
      font-family: Poppins;
font-size: 18px;
font-style: italic;
font-weight: 500;
line-height: 27px;
text-align: left;
}
    #endimage{position: relative;
      width: 312.05px;
      height: 76px;
      top: 179px;
      left: 24px;
      
      }
   
    
    
    
    
    
    
    }