@media only screen and (max-width: 600px) {

#mainfootbox{position: fixed;
    top: 3900px;
    height: 796px;
    background-color: red;
}

/* 
#foot1{position: relative;
    width: 312px;
height: 152px;
top: 24px;
left: 24px;
gap: 0px;
opacity: 0px;

} */
















}