@media only screen and (max-width: 600px) {
    .body {
        width: 600px;
    }

    #headingpic {
        position: fixed;
        top: 8px;
        left: 22px;
        width: 156.4px;
    }

    #searchtag {
        position: fixed;
        width: 24px;
        height: 24px;
        top: 12px;
        left: 232px;
        color: #8064A2;
    }

    #bellicon {
        position: fixed;
        width: 24px;
        height: 24px;
        top: 12px;
        left: 272px;
    }

    #threedot {
        position: fixed;
        width: 24px;
        height: 24px;
        top: 12px;
        left: 312px;
    }
}