@media only screen and (max-width: 600px) {

#mainscreen{
    width: 360px;
height: 720px;
top: 48px;


}

#textfir{position: relative;
    width: 288px;
height: 27px;
top: 32px;
left: 24px;
font-family: Poppins;
font-size: 18px;
font-style: italic;
font-weight: 600;
line-height: 27px;
letter-spacing: 0.02em;
text-align: left;

}

#mainstat{
    position:relative;
    width: 288px;
    margin-top: 20px;
height: 27px;
top: 32px;
left: 24px;
font-family: Poppins;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.02em;
text-align: left;

}

#leftone{
    translate: 400px;
}

#loginbox{
    translate: -5000px;
}

}














