@media only screen and (max-width: 600px) {
/* #maintexztbox{
position: fixed;
width: 360px;
height: 708px;
top: 2132px;
left: 0px;
background-color: red;
} */

#insidemain{
  
width: 360px;
height: 708px;
top: 2132px;
left: 0px;
background-color: red;
}










}